aiofiles==0.5.0
aiohttp==3.6.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
coloredlogs==14.0
executor==23.1
fasteners==0.15
h11==0.8.1
h2==3.2.0
hpack==3.0.0
http3==0.6.7
humanfriendly==8.2
hyperframe==5.2.0
idna==2.10
lxml==4.5.2
monotonic==1.5
multidict==4.7.6
numpy==1.19.1
pandas==1.0.5
property-manager==3.0
pyreadline==2.1
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
requests==2.24.0
requests-async==0.6.2
rfc3986==1.4.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.9
verboselogs==1.7
yarl==1.4.2
